/obj
/packages
/MSP.Core/obj
/MSP.Core/bin
/MSP.Mvc/bin
/MSP.Mvc/obj
/MSP.NHibernate/obj
/MSP.NHibernate/bin
/Spread.Application/bin
/Spread.Application/obj
/Spread.Core/obj
/Spread.Core/bin
/Spread.Data/obj
/Spread.Data/bin
/Spread.Static/obj
/Spread.Static/bin
/Spread.Web/obj
/Spread.Web/bin
